* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  color: var(--cor-fonte-escuro);
}
:root {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  background-image: radial-gradient(
    circle farthest-corner at 48.4% 47.5%,
    rgba(122, 183, 255, 1) 0%,
    rgba(21, 83, 161, 1) 90%
  );
}

.container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  /* background: #e2e2e2; */
}

.main-content {
  flex: 1;
  height: 100%;
  padding: var(--padd);
}

.main-content header {
  width: 100%;
  height: 5vh;
  background-color: var(--cor-fundo-branco);
  padding: var(--padd);
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--sombra);

}

.container .main-content header .title {
  text-align: center;
}

.main-content main {
  width: 100%;
  height: calc(100vh - 13vh);
  box-shadow: var(--sombra);
}

.section {
  width: 100%;
  height: 100%;
  background-color: var(--cor-fundo-branco);
  border-radius: 1rem;
  padding: var(--padd);
  display: none;
  font-family: var( --font-secundaria);
}

.section.active {
  display: block;
}

.sidebar_button.active {
  background-color: #ddd; /* Cor de fundo do botão ativo */
}

.main-content footer {
  width: 100%;
  background-color: var(--cor-fundo-branco);
  margin-top: 1rem;
  border-radius: 1rem;
  padding: var(--padd);
  text-align: center;
  box-shadow: var(--sombra);
}

.home_container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.home_item-img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_item-img::before {
  content: '';
  width: 70rem;
  height: 70rem;
  position: absolute;
  background-image: url(../../img/home/home_maria.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}