@import '../../CSS_GLOBAL/fonts.css';
body {
  font-family: 'Poppins', sans-serif;
}

.container-modal {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #cac8c8;
  min-height: 40rem;
  box-shadow: 10px 10px 15px #ccc;
}

.container-modal h2 {
  background-color: #4f94e2;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


button {
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.tab {
  overflow: hidden;
}

input, select {
  border: none;
  outline: 1px solid #ccc;
  border-radius: .4rem;
  padding: .5rem .4rem;


}


.tablinks {
  width: 200px;
  color: black;
  }
  
  .tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #fff;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  background-color: #fff;
  margin-bottom: 1rem;
  min-height: 40rem;
}

.responsavel {
  margin-bottom: 20px;
}

.form_group {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: .4rem;
  margin-bottom: 1rem;
  margin: 1rem 0;
}

.form_group-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

#nome, #paroquiaBatismo, #paroquiaEucaristia {
  width: 50rem;
}

.width-default {
  min-width: 9rem;
}


#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;

}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}


#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}