@import "../../CSS_GLOBAL/variaveis.css";
@import "../../CSS_GLOBAL/reset.css";

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#img-modal {
  width: 50px;
}
#img-modal img {
  width: 100%;
}

.grupo-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.modal-body {
  display: flex;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#close-modal1 {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 3rem;
  cursor: pointer;
}

#modal1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1450px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
  border: 1px solid;
  border-radius: 0.5rem;
}

.titulo {
  margin-top: 2rem;
  position: relative;
}
.titulo::before {
  position: absolute;
  content: "";
  width: 5%;
  height: 100%;
  border-bottom: 2px solid rgb(0, 132, 255);
}

input,
select {
  outline: 1px solid #ccc;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--sombra);
  border: none;
}

.grupo {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.grupo-items {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.7rem 0;
}

.grupo .information {
  font-size: 1.3rem;
  text-align: right;
}

#modal1.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#fade,
#modal1 {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal1.hide {
  top: 0;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#btnCadastrar {
  background-color: #218838;
  color: #fff;
}

#btnLimpar {
  background-color: #7e8821;

}

.button {
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  color: #fff;
  width: 70%;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
}

.button:hover {
  opacity: .8;
}